html {
  background-color: #efefef;
  margin: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: blue;
  font-size: 1.18em;
  text-decoration: none;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.copy-button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #000066;
  color: #f9f906;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
tr:nth-child(odd) {
  background-color: #ecf2ff;
}
tr:nth-child(even) {
  background-color: #bef9c2;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  font-size: 1.5em;
  text-align: left;
  text-transform: capitalize;
  margin-left: 10px;
}

h3 {
  font-size: 1.17em;
  text-align: left;
  background-color: #fff;
  padding: 10px;
}

p {
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  background-color: #fff;
  padding: 10px;
}

.structured-data {

  padding: 10px;
  margin: 10px;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  html {
    margin: 20px;
  }
}